#Outline {
    border: 5px solid black;
    height: 900px;
} 

#letterArea {
    border: 3px solid red;
    height: 500px;
    width: 90%;
    margin: 75px auto 0;
}

#letterWrap {
    // border: 5px solid black;
    text-align: center;
    margin-top: 100px;
}

.letterBox {
    height: 100px;
    width: 80px;
    background: rgb(71, 71, 255);
    border: 4px solid red;
    display: inline-block;
    margin: 0 20px;
    font-size: 100px;
    color: white;
} 




#bottomArea, #bottomArea2 {
    border: 3px solid black;
    text-align: center;
} 

#chances {
    border: 1px solid green;
    display: inline-block;
    text-align: center;
    // margin: 100px 100px;
    position: absolute;
    bottom: 150px;
    left: 150px;
    height: 100px;
}

.chance {
    background: yellow;
    border: 1px solid black; 
    height: 70px;
    width: 50px;  
    display: inline-block;
    margin: 12px 20px;
    text-align: center;
    font-size: 60px;
    line-height: 80px;
}

.buttons {
    height: 50px;
    width: 50px;
    margin: 10px;
}